*,
*:before,
*:after {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    widows: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.responsive_image {
    width: 100%;
    height: auto;
    flex: 1;
    background-color: blue;
}

body {
    margin: 0;
    padding: 20px;
    font-family: 'Acme', sans-serif;
}

.wrapper {
    margin: auto;
    max-width: rem-calc(1200);
}

.footer {
    border: 1px solid #000000;
}

.color--skyBlue {
    color: rgb(52, 152, 219);
}

h1.heading {
    font-size: 4rem;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}

h4 {
    margin-block-start: 0;
    margin-block-end: 0;
}

@media only screen and (max-width: 425px) {
    h1.heading {
        font-size: 2em;
        text-align: left;
    }
}

.section--social {
    line-height: 1rem;
    margin-left: 18em;
    width: 100%;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media only screen and (max-width: 425px) {
    .section--social {
        margin-left: 8em;
        text-align: left;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

.socialWrapper:last-child .social {
    margin-right: 1.5em;
}

.socialWrapper {
    display: inline-block;
    font-size: 1rem;
}

.social {
    margin-right: 0.25rem;
}

.overflow {
    overflow-x: hidden;
}

.none {
    list-style-type: none;
    padding-inline-start: 0;
}